<%- include("../partials/admindbheader.ejs");%>
    <div style="padding-left: 500px;"><h1>Users Details</h1></div>
   <a href="/adduser"><button class="addnew btn btn-success"type="button" style="margin-left: 1100px;margin-bottom: 25px;"><i class='fa fa-user-plus'></i>&nbsp; Add New User</button></a>
    <div class="row col-md-12 justify-content-center btn-add">
       
        <div class="col-md-1 carousel-title "> </div>
        <div class="col-md-10 carousel-title btn-add">
          <div>
            <hr/>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
      
      <% for(const user of users){%>

            <div class="row col-md-12 justify-content-center">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                <div class="item-container">
                    <div class="item-image col-md-3">
                    <img class="img-thumbnail item-image" src="../Images/User_avatar.jpg"  style="width:200px"
                        alt="Can not display">
                    </div>
                    <div class="item-content col-md-6">
                    <div>
                       
                        <h3><%=user.firstName%></h3>
                        
                    </div>
                    
                    
                    <div> <b>Fisrtname:</b> <%= user.firstName%></div>
                    <div> <b>Lastname:</b> <%= user.lastName%></div>
                    <div><b>Email:</b> <%= user.email%></div>
                    <div><b>Password:</b> <%= user.password%></div>
                    
                    </div>
                    <div class="col-md-1">
                            <a href="/admindb/deleteuser/<%=user._id%>">
                                <div><button type="button" class="btn btn-outline-danger">Delete</button></div>
                            </a>
                    </div>
                </div>
                </a>
                <div>
                    <hr />
                </div>
                </div>
        <%}%>
        <%- include("../partials/admindbfooter.ejs"); %>

