<%- include("../partials/admindbheader.ejs");%>
<style>
    form {
        max-width: 500px;
        margin: 0 auto;
      }
      
      input[type="text"],
      select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
      
      input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
      }
      
      input[type="submit"]:hover {
        background-color: #45a049;
      }
      
      .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
      }
      
      label {
        font-weight: bold;
        display: block;
        margin-bottom: 10px;
      }
      
      input[type="checkbox"] {
        display: inline-block;
        margin-right: 5px;
      }
      
      .error {
        color: red;
        font-size: 14px;
        margin-bottom: 10px;
      }
      
</style>
<form action="/admindb/editbus/<%=bus._id%>" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <label for="trname">Bus Name:</label>
      <input type="text" class="form-control" id="trname" name="trname" value="<%= bus.trname %>">
    </div>
    <div class="form-group">
      <label for="srcname">Source:</label>
      <input type="text" class="form-control" id="srcname" name="srcname" value="<%= bus.srcname %>">
    </div>
    <div class="form-group">
      <label for="destname">Destination:</label>
      <input type="text" class="form-control" id="destname" name="destname" value="<%= bus.destname %>">
    </div>
    <div class="form-group">
      <label for="deptime">Departure Time:</label>
      <input type="text" class="form-control" id="deptime" name="deptime" value="<%= bus.deptime %>">
    </div>
    <div class="form-group">
      <label for="arrtime">Arrival Time:</label>
      <input type="text" class="form-control" id="arrtime" name="arrtime" value="<%= bus.arrtime %>">
    </div>
    <div class="form-group">
      <label for="durtime">Duration:</label>
      <input type="text" class="form-control" id="durtime" name="durtime" value="<%= bus.durtime %>">
    </div>
    <div class="form-group">
      <label for="tktprice">Ticket Price:</label>
      <input type="text" class="form-control" id="tktprice" name="tktprice" value="<%= bus.tktprice %>">
    </div>
    <div class="form-group">
      <label for="btype">Bus Type:</label>
      <input type="text" class="form-control" id="btype" name="btype" value="<%= bus.btype %>">
    </div>
    <div class="form-group">
      <label for="Imageurl">Image URL:</label>
      <input type="file" class="form-control" id="Imageurl" name="uimage" >
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
  </form>
  <%- include("../partials/admindbfooter.ejs"); %>