<%- include("partials/header.ejs"); %>
    <%- include("partials/navbar.ejs"); %>

    <div class="scrolling-container">
      <div class="scrolling">
        <p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" class="text"> <a style="color: aqua;" href="/tours"> Book your tickets now  </a>Explore the world with us and embark on unforgettable adventures! Discover breathtaking landscapes, immerse yourself in diverse cultures, and create lasting memories with our exceptional travel experiences.<a style="color: aqua;" href="/tours"> Book your tickets now</a></p>
      </div>
      </div>
    <script>
      var style=document.createElement("style");
      var position='right';
      style.innerHTML = `
      @keyframes my-animation {
        0% {
          right: -100%; 
        }
        100% {
          right: 100%; 
        }
      }`;
      document.head.appendChild(style);
    </script>
        <div class="container-fluid">
            <div class="position-relative">
                <img src="../Images/b2.jpg" alt="" class="banner img-fluid" style="height:700px"
                    style="position: relative;">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-sm-10 col-lg-8">
                                <div class="section-travel">
                                    <div class="search-form-container">
                                      <form action="/searchbuses" class="form search-form" method="post">
                                        <div class="search-form__elements">
                                            <input type="text" name="srcname" placeholder="Source" style="background-color: aliceblue;">
                                            <input type="text" name="destname" placeholder="Destination" style="background-color: aliceblue;">
                                            <input name="date" type="date" placeholder="Departure" required
                                                style="background-color: aliceblue; width: 150px;">
                                        </div>
                                        <a href=""><button class="btn btn-travel"
                                                type="submit">Search</button></a>
                                      </form>
                                    </div>
                                </div>
                                <div class="heading">
                                    <h1 id="animation-title" class=" display-3 text-uppercase mb-3 travel">
                                        Travel Tour

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <section id="gallery" class="gallery">
            <div class="container gallery-container">
                <div class="gallery-details">
                    <div class="gallary-header text-center">
                        <h2>
                            Top Destination Places in INDIA
                        </h2>
                    </div>
                    <div class="gallery-box">
                        <div class="gallery-content">
                            <div class="filtr-container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="filtr-item">
                                            <img src="../images/Mumbai.jpg" alt="portfolio image" />
                                            <div class="item-title">
                                                <a href="#">
                                                    Mumbai
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="
                                    padding-left: 0px;
                                    padding-right: 0px;">
                                        <div class="filtr-item">
                                            <img src="../images/Chennai.jpg" alt="portfolio image" />
                                            <div class="item-title">
                                                <a href="#">
                                                    Chennai
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="filtr-item">
                                                <img src="../images/Delhi.jpg" alt="portfolio image" />
                                                <div class="item-title">
                                                    <a href="#">
                                                        Delhi
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="filtr-item">
                                                        <img src="../images/Hyderabad.jpg" alt="portfolio image" />
                                                        <div class="item-title">
                                                            <a href="#">
                                                                Hyderabad
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="filtr-item">
                                                        <img src="../images/Goa.jpg" alt="portfolio image" />
                                                        <div class="item-title">
                                                            <a href="#">
                                                                Goa
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="filtr-item">
                                                        <img src="../images/Bangalore.jpg" alt="portfolio image" />
                                                        <div class="item-title">
                                                            <a href="#">
                                                                Bangalore
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--packages start-->
        <section id="pack" class="packages">
            <div class="container ">
                <div class="gallary-header text-center">
                    <h2>
                        Special tours
                    </h2>
                    <p>
                        Explore the Incredidible India with our specialized packages.
                    </p>
                </div><!--/.gallery-header-->
                <div class="packages-content">
                    <div class="row all-tours">
                   <% for(let i=0;i<3;i++){%>
                        <div class="col-md-4 col-sm-6">
                            <div class="single-package-item">
                                <img src="/<%=tours[i].DispImageurl%>" alt="package-place">
                                <div class="single-package-item-txt">
                                  <h3><a href="/tourplaces/<%=tours[i]._id%>"><%=tours[i].tname%></a> <span class="pull-right"><i class="fa-solid fa-indian-rupee-sign "></i><%=tours[i].tprice%></span></h3>
                                    <div class="packages-para">
                                        <p>
                                            <span>
                                                <i class="fa fa-angle-right"></i> 3 Days 2 nights
                                            </span>
                                            <i class="fa fa-angle-right"></i> 5 star accomodation
                                        </p>
                                        <p>
                                            <span>
                                                <i class="fa fa-angle-right"></i> transportation
                                            </span>
                                            <i class="fa fa-angle-right"></i> food facilities
                                        </p>
                                    </div><!--/.packages-para-->
                                    <div class="packages-review">
                                        <p>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <span>254 reviews</span>
                                        </p>
                                    </div><!--/.packages-review-->
                                    <div class="about-btn">
                                        <a href="/payment"> <button class="about-view packages-btn">
                                                book now
                                            </button></a>
                                    </div><!--/.about-btn-->
                                </div><!--/.single-package-item-txt-->
                            </div><!--/.single-package-item-->

                        </div><!--/.col-->
                      <%}%>

                        

                    </div><!--/.row-->
                </div><!--/.packages-content-->
            </div><!--/.container-->
            <link rel="stylesheet" href="../css/reviews.css">
            <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js" defer></script>
            <script src="../js/review_script.js" defer></script>
        </section><!--/.packages-->
        <section id="services">
            <div class="container">
                <div class="mb-7 text-center">
                    <h2 class="services-header">Services</h2>
                </div>
                <div class="row services-row">

                    <div class="col-lg-4 col-sm-4 mb-6 services-cards">
                        <div class="card service-card shadow-hover rounded-3 text-center align-items-center">
                            <i class="fa fa-bus"></i>
                            <h4 class="mb-3">Fastest Travel</h4>
                            <p class="mb-0 fw-medium">Travel makes one modest, you see what a tiny place you occupy in
                                the world. So just travel
                                without any regrets.</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-4 mb-6 services-cards">
                        <div class="card service-card shadow-hover rounded-3 text-center align-items-center">
                            <i class="fa fa-cog"></i>
                            <h4 class="mb-3">Customization</h4>
                            <p class="mb-0 fw-medium">We deliver best sourced bus services for customers.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 mb-6 services-cards">
                        <div class="card service-card shadow-hover rounded-3 text-center align-items-center">
                            <i class="fas fa-bullhorn"></i>
                            <h4 class="mb-3">Safety Guide</h4>
                            <p class="mb-0 fw-medium">At the end of the day, the goals are safety and security. We go to
                                great lengths in order to
                                ensure the safety of our tourists.</p>
                        </div>
                    </div>                  
                </div>
            </div><!-- end of .container-->
        </section>
        <!--packages end-->
        <section id="reviews" class="reviews">
            <div class="mb-7 text-center">
                <h2 class="services-header">Reviews</h2>
            </div>
            <div class="slide-container swiper ">
                <div class="slide-content">
                  <div class="swiper-wrapper">
                    <div class="card swiper-slide inner-card">
                      <div class="home1-testm item">
                        <div class="home1-testm-single text-center">
                          <div class="home1-testm-img">
                            <img src="../images/user_avatar.jpg" alt="img" />
                          </div><!--/.home1-testm-img-->
                          <div class="home1-testm-txt">
                            <span class="icon section-icon">
                              <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </span>
                            <p style="margin-left: 1%;margin-right: 1%;">
                              Lorem ipsum dolor sit amet, contur adip elit, sed do mod incid ut labore et dolore magna aliqua. Ut
                              enim ad minim veniam.
                            </p>
                            <h3>
                              <a href="#" style="margin-left: 5%;">
                                ramesh
                              </a>
                            </h3>
                            <h4 style="margin-left: 5%;">India</h4>
                          </div><!--/.home1-testm-txt-->
                        </div><!--/.home1-testm-single-->
                      </div>
                    </div>
                    <div class="card swiper-slide inner-card">
                      <div class="home1-testm item">
                        <div class="home1-testm-single text-center">
                          <div class="home1-testm-img">
                            <img src="../images/user_avatar.jpg" alt="img" />
                          </div><!--/.home1-testm-img-->
                          <div class="home1-testm-txt">
                            <span class="icon section-icon">
                              <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </span>
                            <p style="margin-left: 1%;margin-right: 1%;">
                              Lorem ipsum dolor sit amet, contur adip elit, sed do mod incid ut labore et dolore magna aliqua. Ut
                              enim ad minim veniam.
                            </p>
                            <h3>
                              <a href="#" style="margin-left: 5%;">
                                ramesh
                              </a>
                            </h3>
                            <h4 style="margin-left: 5%;">India</h4>
                          </div><!--/.home1-testm-txt-->
                        </div><!--/.home1-testm-single-->
                      </div>
                    </div><div class="card swiper-slide inner-card">
                      <div class="home1-testm item">
                        <div class="home1-testm-single text-center">
                          <div class="home1-testm-img">
                            <img src="../images/user_avatar.jpg" alt="img" />
                          </div><!--/.home1-testm-img-->
                          <div class="home1-testm-txt">
                            <span class="icon section-icon">
                              <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </span>
                            <p style="margin-left: 1%;margin-right: 1%;">
                              Lorem ipsum dolor sit amet, contur adip elit, sed do mod incid ut labore et dolore magna aliqua. Ut
                              enim ad minim veniam.
                            </p>
                            <h3>
                              <a href="#" style="margin-left: 5%;">
                                ramesh
                              </a>
                            </h3>
                            <h4 style="margin-left: 5%;">India</h4>
                          </div><!--/.home1-testm-txt-->
                        </div><!--/.home1-testm-single-->
                      </div>
                    </div><div class="card swiper-slide inner-card">
                      <div class="home1-testm item">
                        <div class="home1-testm-single text-center">
                          <div class="home1-testm-img">
                            <img src="../images/user_avatar.jpg" alt="img" />
                          </div><!--/.home1-testm-img-->
                          <div class="home1-testm-txt">
                            <span class="icon section-icon">
                              <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </span>
                            <p style="margin-left: 1%;margin-right: 1%;">
                              Lorem ipsum dolor sit amet, contur adip elit, sed do mod incid ut labore et dolore magna aliqua. Ut
                              enim ad minim veniam.
                            </p>
                            <h3>
                              <a href="#" style="margin-left: 5%;">
                                ramesh
                              </a>
                            </h3>
                            <h4 style="margin-left: 5%;">India</h4>
                          </div><!--/.home1-testm-txt-->
                        </div><!--/.home1-testm-single-->
                      </div>
                    </div><div class="card swiper-slide inner-card">
                      <div class="home1-testm item">
                        <div class="home1-testm-single text-center">
                          <div class="home1-testm-img">
                            <img src="../images/user_avatar.jpg" alt="img" />
                          </div><!--/.home1-testm-img-->
                          <div class="home1-testm-txt">
                            <span class="icon section-icon">
                              <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </span>
                            <p style="margin-left: 1%;margin-right: 1%;">
                              Lorem ipsum dolor sit amet, contur adip elit, sed do mod incid ut labore et dolore magna aliqua. Ut
                              enim ad minim veniam.
                            </p>
                            <h3>
                              <a href="#" style="margin-left: 5%;">
                                ramesh
                              </a>
                            </h3>
                            <h4 style="margin-left: 5%;">India</h4>
                          </div><!--/.home1-testm-txt-->
                        </div><!--/.home1-testm-single-->
                      </div>
                    </div><div class="card swiper-slide inner-card">
                      <div class="home1-testm item">
                        <div class="home1-testm-single text-center">
                          <div class="home1-testm-img">
                            <img src="../images/user_avatar.jpg" alt="img" />
                          </div><!--/.home1-testm-img-->
                          <div class="home1-testm-txt">
                            <span class="icon section-icon">
                              <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </span>
                            <p style="margin-left: 1%;margin-right: 1%;">
                              Lorem ipsum dolor sit amet, contur adip elit, sed do mod incid ut labore et dolore magna aliqua. Ut
                              enim ad minim veniam.
                            </p>
                            <h3>
                              <a href="#" style="margin-left: 5%;">
                                ramesh
                              </a>
                            </h3>
                            <h4 style="margin-left: 5%;">India</h4>
                          </div><!--/.home1-testm-txt-->
                        </div><!--/.home1-testm-single-->
                      </div>
                    </div>
                  </div>
                  <div class="swiper-button-next"></div>
                  <div class="swiper-button-prev"></div>
                </div>
              </div>
        </section>

        
        <%- include("partials/footer.ejs"); %>
            </body>

            </html>