<%- include("partials/header.ejs") %>

<style>

</style>

    <div class=" text-center container payment-con" id="payment" >
        <h1 style="margin-top: 40px;">
            Pay  with <img src="https://www.ecommerce-nation.com/wp-content/uploads/2019/02/razorpay.webp" alt="" height="130px">
        </h1>
            <div class="buttn text-center" style="width: 50%;">
            <button class="button" style="font-style: italic;" id="rzp-button1" onclick="hst()" style="color: azure;" >Continue to Pay</button>
        </div>  
    </div>
        <div class="container payment-con-form" id="payment-container" style="display: none;">
            <form action="/userhome" id="Payment" style="border-radius: 15px;">
                <div class="row" >
                    <div class="col">
                        <h1  class="text-center" style="margin-top: 40px;">
                            <img src="https://www.ecommerce-nation.com/wp-content/uploads/2019/02/razorpay.webp" alt="" height="130px"><br>
                            Payment successfull
                        </h1>

                        <input type="submit" id="redirect" class="button btn btn-primary" value= 'GO TO HOME'>
                       
                        </div>
                    </div>
                </form>
                </div>
                
         
 

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
async function hst(e){
    var options = {
    "key": "rzp_test_6KowFUd7r4c7DC", // Enter the Key ID generated from the Dashboard
    "amount": "<%-fair%>", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "VIHARI",
    "description": "Test Transaction",
    "order_id": "<%- order.id%>", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
        alert('Payment successfull');
    },
    "prefill": {
        "name" : '<%- email%>',
        "email": "<%- email%>",
        "contact": "<%- Phone%>"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3099cc"
    }
};
    var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
});
     rzp1.open();
     document.getElementById('payment-container').style.display='block'
     document.getElementById('payment').style.display='none'
   console.log('Payment Successful')
}
</script>