<%- include("partials/header.ejs");%>
<%- include("partials/navbar.ejs"); %>
<style>
  .image:hover img {
      transform: scale(1.1);
  }
  .image img{
    height: 193px;
    width: 300px;
  }
  body {
        background-color: white;
        font-family: "Nunito", sans-serif;
        font-size: 15px;
        font-weight: 300;
        color: hsl(0, 0%, 30%);
        min-height: 100vh;
        overflow-x: hidden;
      }
      hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 2px solid #ccc;
        margin: 1em 0;
        padding: 0;
      }
      .title {
        text-align: center;
        font-size: 50px;
        text-decoration: underline;
      }
      .row {
        --bs-gutter-x: 30px;
      }
      .box {
        /* background-color: white;   */
        padding: 30px;
      }
      h1,
      h2,
      h3,
      h4,
      h5 {
        color: hsl(0, 0%, 10%);
        line-height: 1.3;
      }

      .visit-image:hover img {
        transform: scale(1.1);
      }

      .place-name {
        font-size: 800;
        color: #06bbcc;
        padding-bottom: 6px;
      }

      .btn {
        font-family: "Nunito", sans-serif;
        font-weight: 600;
        transition: 0.5s;
        width: 100%;
        margin-top: 30px;
      }
      .btn-theme {
        background-color: #06bbcc;
        color: #fff;
        font-size: 15px;
        text-transform: capitalize;
        font-weight: 500;
        transition: all 0.3s ease;
        border-radius: 1rem;
      }
      .btn-theme:hover {
        color: #06bbcc;
        background-color: white;
      }
      .btn-theme:focus {
        box-shadow: 0 0 8px #06bbcc;
      }
      .twelve h1 {
        font-size: 26px;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        width: 160px;
        text-align: center;
        margin: auto;
        white-space: nowrap;
        padding-bottom: 13px;
        margin-left: 0px;
      }
      .head {
        position: relative;
        width: 90%;
        max-width: 500px;
        padding: 2em;
        margin: 1.5em auto;
        justify-content: center;
        align-items: center;
      }
      .main-div{
        display: flex; 
        flex-direction: row;
      }
      .container-box{
        display: flex; 
        flex-direction: row;
      }
      .right-div{
        width: 450px;
        padding-right: 20px;
      }
      .single-package-item{
        margin-bottom: 30px;
        padding-bottom: 20px;
        box-shadow: 0 0 20px rgba(0,0,0,.1);
        -webkit-transition: .5s; 
        -moz-transition:.5s; 
        -ms-transition:.5s; 
        -o-transition:.5s;
        transition: .5s;
      }
      .single-package-item-txt{
        padding: 0 25px;
      }
      .single-package-item img {
        width: 100%;
      }
      .single-package-item h3{
        position: relative;
        font-size: 20px;
        color: #565a5c;
        font-weight:500;
        font-family: 'Poppins', sans-serif;
        padding: 20px 0;
      }
      .single-package-item h3:after{
        position: absolute;
        content: " ";
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: #ebebeb;
      }
@media(max-width:900px){
  .main-div{
    display: flex;
    flex-direction: column;
  }
  .container-box{
    display: flex; 
    flex-direction: column;
  }
  .right-div{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
  }
  .twelve h1{
    font-size: 16px;
  }
}
</style>
<div class="twelve head" style="display: flex;">
  <div>
    <h1>Visiting Places in <%=data.tname %></h1>
  </div>
</div>
<div class="main-div">
 

<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit Place Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="editForm" method="post" action="/place/edit" enctype="multipart/form-data">
          <input type="hidden" name="tid" value="<%=data._id%>">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" >
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description"></textarea>
          </div>
          <div class="form-group">
            <label for="ImageUrl">Image</label>
            <input class="form-control" type="file" id="Imageurl" name="upimage">
          </div>
          <input type="hidden" id="placeId"  name="placeId">
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id="saveChangesBtn">Save changes</button>
          </div>
        </form>
      </div>
     
    </div>
  </div>
</div>

<div class="left-div col-md-8">
  <% places.forEach((place)=>{%>
  <div class="container container-box" >
      <div class="image">
      <img src="/<%=place.Imageurl%>">
      </div>
      <div class="text" style="margin-left: 20px;">
          <div>
              <h2 class="place-name"><%= place.name %></h2>
              <p name="description">
                <%= place.description %>
              </p>
    
          </div>

          
      </div>
      
  </div>
  <br><hr><br>
<%})%>
  
  
</div>
<div class="right-div col-md-4" >
    <div class="single-package-item">
        <div>
          <img src="/<%=data.DispImageurl%>" alt="package-place" />
        </div>
        <div class="single-package-item-txt">
          <h3><%=data.tname %> <span class="pull-right">₹<%= data.tprice %></span></h3>
          <div class="packages-para">
            <p>
              <span>
                <i class="fa fa-angle-right"></i> 3 Days 2 nights
              </span>
              <i class="fa fa-angle-right"></i> 5 star accomodation
            </p>
            <p>
              <span>
                <i class="fa fa-angle-right"></i> transportation
              </span>
              <i class="fa fa-angle-right"></i> food facilities
            </p>
          </div>
          <div class="packages-review">
            <p>
              <i class="fa-solid fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <span>254 reviews</span>
            </p>
          </div>
          <div class="about-btn">
            <form action="/payment" type="get">
              <input type="submit" class="btn btn-theme" value="book now">
            </form> 
          </div>
        </div>
      </div>
</div>
</div>

<%- include("partials/footer.ejs");%>